.hero {
    background-color: #FFFFFF;

    display: flex;
    justify-content: center;

    min-width: 360px;
    max-width: 1440px;
    min-height: 300px;
    max-height: 645px;

    border: 16px solid transparent;
    padding: 16px 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
  
    &__container {
      width: 100%;
      width: 1200px;
      height: 517px;
      overflow: hidden;
      position: relative;
      background: #000;

      img {
        opacity: 0.6;
      }
    }
  
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  
    &__button {
      position: absolute;
      width: 181px;
      height: 33px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) skew(-20deg);
      background-color: #18C576;
      border: none;
      color: white;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;
  
      // внутренняя обёртка, чтобы текст не искажался
      &-text {
        transform: skew(20deg); // отменяем наклон

        width: 115px;
        height: 17px;

        font-family: 'Inter';
        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        /* identical to box height, or 17px */

        color: #FFFFFF;


        flex: none;
        order: 0;
        flex-grow: 0;
        white-space: nowrap;

      }
      &__video {
        display: none; // Скрыто по умолчанию
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
    
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        box-sizing: border-box;
    
        iframe {
          max-width: 100%;
          max-height: 100%;
          border-radius: 12px;
        }
      }
    
      &__video--active {
        display: flex;
      }
    }
  }

.products {
     background: #F2F2F2;

    display: flex;
    justify-content: center;

    min-width: 360px;
    max-width: 1440px;
    min-height: 1264px;
    max-height: 456px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    
    
}
